.f-img{
	height: 86px;
}

@media screen and (max-width:1024px){
	.xngate {
	    min-height: 75vh;
	}
}

// @media screen and (max-width:992px){
// 	// .xinpot-r{
// 	// 	width: 320px;
// 	// }
// 	// .item{
// 	// 	width: 205px;
// 	// }

// }

@media only screen and (max-width: 992px) {
	header{
		.container{
			max-width: 100%;
		}
		.fix-height{
			height: auto;
		}
		.btn-border-under{
			position: absolute;
			top: 0;
    		left: calc(50% - 55px); //
			
		}

	}
}
@media only screen and (max-width:767px){
	.bg-partner .block {
    	padding-right: 100px; 
	}
}

@media screen and (max-width:692px){
	.cover-xinpot{
		margin-top: 130px;
	}
}

@media screen and (max-width:600px){
	.footer-r{
		display: block !important;
		.f-cover{
			width: 50%;
			float: left;
		}
	}
}

@media screen and (max-width:480px){
	.footer-r{
		.f-cover{
			width: 100%;
		}
	}
}
